* {
   outline: 1px solid red !important;
}
* {
    box-sizing: border-box;
}
.image
{
	max-width: 460px;

}

.description
{
	max-width: 562px


}
.title
{
  background-color:#33bebe;
}
.app
{
	display:flex;
  border-width: medium;
  border-style: bold;


}
